<div class="step-container">
    <div class="d-flex flex-column">
        <% @tour_activities.each do |tour_activity| %>
        <% step = @tour_activities.find_index(tour_activity) + 1; step_text = "Step #{step}" %>

        <div class="row p-1 step-button">
            <div style="margin-bottom: 4px;"> <button type="button" id="toggle" class="step-button <%= tour_activity.finish_time == nil ? 'neutral' : 'positive' %>" onclick="toggleContent(this)"><%= step_text %></button> </div>
        </div>
        <div class="row p-1 step-card" id="<%= step_text %>" style="display: none">
            <span class="column " >
                <h5 class="card-title"><b><%= tour_activity.activity.name %></b></h5>  
                <p class="card-text"><%= tour_activity.activity.location.address %> </p>
                <p class="card-text"><b>Finish Time:</b> <%= tour_activity.finish_time != nil ? tour_activity.finish_time.strftime('%a, %d %b %Y %H:%M:%S')  : '' %> </p>
            </span>
            <span class="column">
                <% if tour_activity.finish_time == nil %>
                    <%= button_to "Done", finish_tour_activity_path(tour_activity), class: "a-primary", method: :patch %>
                <% end %>
            </span>
        </div>
        <% end %>
    </div>
</div>

<script type="text/javascript">
  var toggleContent = function(obj)
  {
    const steps = document.querySelectorAll("[id^='Step']");
    steps.forEach((item) => {
        item.style.display = "none";
    });
    var x = document.getElementById(obj.innerHTML);
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
    
  }

</script>