<h1>
  <%= @tour.name %>
</h1>

<h3> Description: <%= @tour.description %>
<h3> Public: <%= @tour.public %>


<li>
  <%=  link_to "Remove", tour_path(@tour), method: :delete, data: {confirm: "Are you sure?"} %>
</li>
<li>
  <%=  link_to "Edit", edit_tour_path(@tour) %>
</li>
<li>
  <%=  link_to "Publish", publish_tour_path(@tour), class: "a-primary", method: :patch%>
</li>
<ol>
<% @tour_activities.each do |tour_activity| %>
  <% step_text = @tour_activities.find_index(tour_activity) + 1 %>

  <button type="button" class="btn btn-primary" onclick="toggleTourVisibility()">Step <%= step_text %></button>
  <div class="card bg-light" id="myDIV">
      Step <%= step_text %>
      <h5 class="card-title"><%= tour_activity.activity.name %></h5>

      <p class="card-text"><%= tour_activity.activity.location.address %></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    
  </div>


<% end %>
</ol>