<h1>Activities Edit</h1>
<p>Edit activity below</p>

<%= simple_form_for(@activity) do |f| %>
  <%= f.input :name %>
  <%= f.input :start_time, label: "Start Time"%>
  <%= f.input :finish_time, label: "Finish Time"%>
  <%= f.input :duration%>
  <%= f.input :description %>
  <%= f.input :requirements %>
  <%= f.submit %>
  
<% end %>
